{% extends "global/index_financeiro.html" %}

{% block content %}
<div class="evento-actions">
    <h1 style="text-align: center; font-size: 2.4rem; margin-bottom: 2rem;">Gerenciar Evento</h1>
    <div class="button-container"
        style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
        <!-- Botão de voltar -->
        <a href="{% url 'financeiro:consultar_evento' %}" class="evento-button"
            style="background-color: var(--primary-color); color: var(--white-color); text-decoration: none; padding: 1rem 2rem; font-size: 1.8rem; border-radius: 0.5rem; border: 2px solid var(--white-color); transition: transform 0.3s ease, background-color 0.3s ease; margin-bottom: 1.5rem;">
            Voltar
        </a>
    </div>
</div>

<div class="form-container" style="margin-top: 2rem;">
    <h2 style="text-align: center; font-size: 2rem; margin-bottom: 2rem;">Atualizar Evento</h2>
    <form method="post" enctype="multipart/form-data"
        style="display: flex; flex-direction: column; align-items: center;">
        {% csrf_token %}

        <div style="width: 100%; max-width: 600px;">
            {% if form.non_field_errors %}
            <div class="error-message"
                style="color: var(--white-color); font-size: 1.4rem; background-color: #dc3545; padding: 1rem; border-radius: 0.5rem; margin-bottom: 1.5rem;">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div style="width: 100%; max-width: 600px;">
            {% for field in form %}
            <div class="form-group" style="margin-bottom: 1.5rem;">
                <label for="{{ field.id_for_label }}"
                    style="display: block; font-size: 2rem; color: var(--white-color); margin-bottom: 1rem;">
                    {{ field.label_tag }}
                </label>
                <div class="input-container" style="display: flex; flex-direction: column;border-radius: 0.5rem;">
                    {{ field }}
                    {% if field.errors %}
                    <div class="error-message"
                        style="color: var(--white-color); font-size: 1.4rem; margin-top: 0.5rem; background-color: #dc3545; padding: 0.5rem; border-radius: 0.5rem;">
                        {{ field.errors|join:", " }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="form-group"
            style="border:2px solid var(--white-color);border-radius: 0.5rem;margin-bottom: 1.5rem; width: 100%; max-width: 600px;">
            <label for="participantes_selecionados"
                style="display: block; font-size: 2rem; color: var(--white-color); margin-bottom: 1rem;">
                Participantes Selecionados
            </label>

            <!-- Lista Vertical dos Participantes -->
            <ul id="participantes-list" style="list-style: none; padding: 0;">
                {% for participante in participantes_lista %}
                <li id="participante-{{ forloop.counter }}"
                    style="font-size: 1.6rem; color: var(--white-color); margin-bottom: 0.5rem;">
                    {{ participante }}
                    <!-- Botão de Remover -->
                    <button type="button" class="remove-btn" data-index="{{ forloop.counter }}"
                        style="margin-left: 10px; background-color: #dc3545; color: white; border: none; cursor: pointer; padding: 0.2rem 0.6rem; border-radius: 0.3rem;">Remover</button>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div style="margin-top: 2rem;">
            <button type="submit"
                style="background-color: var(--primary-color); color: var(--white-color); padding: 1rem 2rem; font-size: 1.8rem; border-radius: 0.5rem; border: 2px solid var(--white-color); cursor: pointer; transition: background-color 0.3s ease;">
                Salvar Evento
            </button>
        </div>
    </form>
</div>


{% endblock %}