<table class="calendar main-bg">
    <thead>
        <!-- Navegação semanal -->
        <div class="navegacao-calendario">
            <a href="#" class="btn-navegacao">
                &#8249; Semana Anterior
            </a>
            <span class="btn-navegacao">{{ primeiro_dia }}/{{ano}} - {{ ultimo_dia }}/{{ano}}</span>
            <a href="#" class="btn-navegacao">
                Semana Seguinte &#8250;
            </a>
        </div>
        <tr class="dia-da-semana">
            <th>Domingo</th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sábado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for day in calendario %}
            <td class="day-cell">
                <div
                    class="day-box {% if day.numero_dia == hoje.day and mes == hoje.month and ano == hoje.year %}hoje{% endif %}">
                    {% if day.numero_dia %}
                    <h3>{{ day.numero_dia }}</h3>

                    {% if day.eventos %}
                    <ul class="event-list">
                        {% for evento in day.eventos %}
                        <li><b>-</b>{{ evento.nome }} - {{ evento.hora }} ({{ evento.duracao }})</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p> </p>
                    {% endif %}
                    {% endif %}
                </div>
            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>