<table class="calendar main-bg">
    <thead>
        <!-- Navegação semanal -->
        <div class="navegacao-calendario">
            <!-- <a href="#" class="btn-navegacao">
                &#8249; Semana Anterior
            </a> -->
            <span class="btn-navegacao">{{ semana_atual.0.numero_dia }}/{{ semana_atual.0.mes }}/{{semana_atual.0.ano}}
                - {{semana_atual.6.numero_dia}}/{{semana_atual.6.mes}}/{{semana_atual.6.ano}}</span>

            <!-- <a href="#" class="btn-navegacao">
                Semana Seguinte &#8250;
            </a> -->
        </div>
        <!-- Cabeçalho com os nomes dos dias da semana -->
        <tr class="dia-da-semana">
            <th>Domingo</th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sábado</th>
        </tr>
    </thead>
    <tbody>
        <!-- Linha com os números dos dias do mês -->
        <tr class="numeros-da-semana">
            {% for dia in semana_atual %}
            <td
                class="day-number {% if dia.numero_dia == hoje.day and mes == hoje.month and ano == hoje.year %}hoje{% endif %}">
                <h3><u>{{ dia.numero_dia }}/{{ dia.mes }}</u></h3><br> <!-- Exibe o número do dia -->
                <!-- Lista de eventos para o dia -->


                <ul>
                    {% for semana in calendario %}
                    {% for dia_calendario in semana %}
                    {% if dia_calendario.numero_dia == dia.numero_dia and dia_calendario.mes == dia.mes %}
                    {% if dia_calendario.eventos %}
                    {% for evento in dia_calendario.eventos %}
                    <li style="padding:1rem;background:rgba(0, 0, 0, 0.534);border-radius: 1rem;">
                        <b><big><u>{{ evento.nome }}</u></big></b><br><br>
                        <b>Hora:</b> {{ evento.hora }}<br><br>
                        <b>Duração:</b> {{ evento.duracao }}<br><br>
                        <b>Descrição:</b> <i>{{ evento.descricao }}</i><br><br>
                        <b>Participantes:</b>
                        <ul>
                            {% for participante in evento.participantes %}
                            <li>-{{ participante.nome }}<b>({{ participante.categoria }})</b></li><br>
                            {% endfor %}
                        </ul>
                    </li><br><br>
                    {% endfor %}
                    {% else %}
                    <li>Sem eventos</li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>

            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>