<!-- global/partials/calendario_mensal.html -->
<table class=" calendar main-bg" style="color:var(--white-color);">
    <thead >
        {{nome_mes}} / {{ano}}
        <tr class="dia-da-semana">
            <th >Domingo</th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sábado</th>
        </tr>
    </thead>
    <tbody>
        {% for week in calendario %}
        <tr>
            {% for day in week %}
            <td class="day-cell" >
                <!-- Título com o número do dia -->
                <div class="day-box">
                    {% if day.numero_dia %}
                    <h3 >{{ day.numero_dia }}</h3>

                    <!-- Verificação se há eventos -->
                    {% if day.eventos %}
                    <ul class="event-list ">
                        <!-- Lista de eventos do dia -->
                        {% for evento in day.eventos %}
                        <li>*{{ evento.nome }} - {{ evento.hora }} ({{ evento.duracao }})<br><br></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>   </p>
                    {% endif %}
                    {% endif %}
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
