{% extends "global/index_financeiro.html" %}

{% block content %}
<div class="evento-actions">
    <h1 style="text-align: center; font-size: 2.4rem; margin-bottom: 2rem;">Consultar Eventos</h1>

    <form method="get" action="{% url 'financeiro:consultar_evento' %}" style="margin-bottom: 2rem;">
        <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
            <!-- Campo de busca por nome -->
            <input type="text" name="nome" placeholder="Pesquisar por Nome" value="{{ query_nome|default_if_none:'' }}"
                style="padding: 1rem; font-size: 1.4rem; width: 100%; max-width: 300px; margin: 0.5rem;">

            <!-- Campo de busca por data -->
            <input type="date" name="data" placeholder="Pesquisar por Data" value="{{ query_data|default_if_none:'' }}"
                style="padding: 1rem; font-size: 1.4rem; width: 100%; max-width: 300px; margin: 0.5rem;">

            <!-- Campo de busca por participante -->
            <input type="text" name="participante" placeholder="Pesquisar por Participante"
                value="{{ query_participante|default_if_none:'' }}"
                style="padding: 1rem; font-size: 1.4rem; width: 100%; max-width: 300px; margin: 0.5rem;">
        </div>
        <button type="submit"
            style="padding: 1rem 2rem; font-size: 1.4rem; background-color: var(--primary-color); color: white; border: none; border-radius: 0.5rem; margin-top: 1rem;">Buscar</button>
    </form>

    <div>
        {% if eventos %}
        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="padding: 1rem; border-bottom: 2px solid var(--primary-color);">Nome</th>
                    <th style="padding: 1rem; border-bottom: 2px solid var(--primary-color);">Data</th>
                    <th style="padding: 1rem; border-bottom: 2px solid var(--primary-color);">Participantes</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in eventos %}
                <tr>
                    <td style="padding: 1rem; border-bottom: 1px solid var(--primary-color);">{{ evento.nome }}</td>
                    <td style="padding: 1rem; border-bottom: 1px solid var(--primary-color);">{{ evento.data }}</td>
                    <td style="padding: 1rem; border-bottom: 1px solid var(--primary-color);">
                        {% for participante in evento.participantes_selecionados %}
                        {{ participante.nome }} ({{ participante.categoria }}),
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhum evento encontrado.</p>
        {% endif %}
    </div>
</div>

<style>
    th,
    td {
        text-align: left;
        font-size: 1.4rem;
    }

    input {
        margin-bottom: 1rem;
    }
</style>
{% endblock %}