:root {
    --primary-color: #230023;
    --white-color: #ffffffe8;
    --light-gray-color: #eeeeee3d;
    --faded-black-color: rgba(0, 0, 0, 0.534);
    --faded-thin-black-color: rgba(0, 0, 0, 0.233);
    --white-gray-color: #e2dee2;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.main-bg {
    background-image: url('../img/endless-constellation.svg');
    background-position: center center;
    color: var(--white-color);
}

.faded-black-bg {
    background: var(--faded-black-color);
}

.light-gray-bg {
    background: var(--light-gray-color);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1000;
    height: 6rem;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-spacing {
    height: 65px;
}

.img-logo {
    max-width: 8rem;
    max-height: 5rem;
    margin-left: 4rem;
    border-radius: 1rem;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.img-logo:hover {
    transform: scale(1.3);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    bottom: 0.5rem;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--white-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--white-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover:after {
    width: 80%;
    left: 10%;
}

.section {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}

.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--white-color);
}

.swiper-pagination-bullet-active {
    background: var(--primary-color);
}

.whatsapp-icon {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #25D366;
    color: #fff;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    z-index: 1100;
    transition: background-color 2s ease-in-out, transform 0.3s ease-in-out;
}

.whatsapp-icon:hover {
    background-color: #128C7E;
    transform: scale(1.4);
}

.whatsapp-icon i {
    margin: 0;
}

.horizontal-sections {
    background-color: var(--primary-color);
    padding: 2rem;
    display: flex;
    align-items: stretch;
    height: 100vh;
}

.section-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.section-part {
    width: 10rem;
    margin: 0 1rem;
    background-color: var(--faded-black-color);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 2rem);
    position: relative;
}

.section-part:nth-child(1) {
    flex: 1.5;
}

.section-part:nth-child(2) {
    flex: 1;
}

.section-part p {
    margin: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
    max-width: 16em;
    max-height: 16rem;
    transition: transform 0.3s ease-in-out;
}

.image-item img:hover {
    transform: scale(1.12);
}

.h2-section2 {
    text-align: left;
    margin-bottom: 1rem;
    /* Adiciona uma margem de 1rem abaixo do título */
}

/* Estiliza a seção de contato */
/* Estiliza a seção de contato */
#section7 {
    display: grid;
    grid-template-rows: 4rem 1fr;
    /* Ajuste para uma linha fixa e uma linha flexível */
    gap: 0;
    /* Remove o espaço entre as linhas */
    height: 100vh;
    /* Altura total da viewport */
    padding: 2rem;
    /* Espaçamento interno da seção */
}

/* Estiliza a linha superior */
.contact-header {
    background-color: var(--faded-black-color);
    border-radius: 1rem;
    /* Bordas arredondadas */
    padding: 2rem;
    padding-top: 0;
    /* Remove o padding superior */
    padding-bottom: 0;
    /* Remove o padding inferior */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    height: 4rem;
    /* Altura fixa para o cabeçalho */
}

/* Estiliza a linha inferior */
.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Duas colunas */
    gap: 2rem;
    /* Espaçamento entre as colunas */
    background-color: var(--faded-black-color);
    border-radius: 1rem;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    /* Remove o padding superior */
}


.contact-column {
    background-color: var(--white-gray-color);
    border-radius: 1rem;
    padding: 2rem;
    color: var(--primary-color);
    box-sizing: border-box;
    /* Garante que padding e borda não aumentem a largura */
}

.contact-info {
    position: relative;
    /* Posiciona o formulário corretamente */
}

.contact-form {
    margin-top: 1rem;
    /* Espaço reduzido entre as informações de contato e o formulário */
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* Espaço entre os campos do formulário */
}

.contact-form label {
    margin-bottom: 0.5rem;
    /* Espaço entre o rótulo e o campo de entrada */
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    /* Garante que os elementos usem a largura total disponível */
    box-sizing: border-box;
    /* Garante que padding e borda estejam incluídos na largura */
}

.contact-form input,
.contact-form textarea {
    padding: 0.8rem;
    /* Menor padding para a caixa de texto */
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.contact-form textarea {
    resize: vertical;
    /* Permite redimensionar verticalmente, se desejado */
    height: 100px;
    /* Ajuste a altura da caixa de texto */
}

.contact-form button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: darken(var(--primary-color), 10%);
}

.section7 {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}